Options -Indexes 

Options +Includes
AddType text/html .html
AddHandler server-parsed .html

ErrorDocument 404 /index.php?id=404

php_flag magic_quotes_gpc off

php_flag allow_call_time_pass_reference 1
php_flag session.use_trans_sid off

php_value display_errors 1

#php_value mbstring.func_overload 2
#php_value mbstring.internal_encoding UTF-8
#php_value default_charset UTF-8

php_value session.bug_compat_42 0
php_flag register_globals off



#<IfModule mod_mime.c>
#  AddType application/x-httpd-php .ico
#</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
</IfModule>

AddDefaultCharset UTF-8