* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}

#admin{
	position: absolute;
	top:0;
	left:0;
	right:0;
	min-width: 900px;
}

#admin #header{
	padding:5px;
	
	width:100%;
	min-width:900px;
	height:30px;
	min-height:30px;

  background:#DDD;
  clear: both;
}


#admin #content{
	clear:both;
	width:100%;
	min-width:900px;

	padding:0;
  margin:0;
  border-right:#DDD 1px solid;
  background:#FFF;
}



#admin #content DIV.left{
  width:200px;
  min-height:900px;
  background:#EEE;
	position:absolute;
}


#admin #content DIV.right{
	position:absolute;
	left:200px;
	right:0;
	padding:10px;
  margin: 0;
}


#admin #content DIV.right UL.index{
	list-style: none;
	padding:0 0 0 30px;
}


#admin .menu{
  clear: both;
  margin:0;
  	padding:0;
}

#admin .menu UL{
	margin:10px 0 0 10px;
	padding:0;
}

#admin .menu UL LI{
  clear: both;
  list-style: none;
  padding: 5px;
}

#admin .box{
	margin:5px 5px 10px 5px;
	padding:0;
}

#admin .box-header{
	background: #DDD;
	margin:0;
	width:100%;
	padding:3px 5px 0 0;
}

#admin .box-header A{
	cursor: pointer;
}

#admin .box-content{
	background: #F6F6F6;
	margin:0!important;
	width:100%;
	padding:5px 5px 10px 5px;
}


#admin FORM{
	display: inline;
}

#admin FIELDSET{
	width:90%;
	margin-left:3%;
	padding:3px;
	border: 0;
	border-top: #CCC 1px solid;
	border-right: #CCC 1px solid;
	border-left: #CCC 1px solid;
}

#admin FIELDSET LABEL{
	width:30%;
	height:auto;
	float:left;
	text-align:right;
	padding-right:10px;
}


#admin #footer{
  width:100%;
  clear:both;
  height:30px;
  padding:5px 0 5px 0;

  background:#DDD;
}

#admin .lang{
	clear:both;
}

#admin .lang-current{
	
}

#admin UL.lang-ul{
	padding:0 0 0 10px;
	margin:0;
	list-style: none;
}

#admin UL.lang-ul LI{
	padding:3px 5px 3px 5px;
	float:left;
}

#admin UL.lang-ul LI.selected{
	background: #BBB;
}


#admin .error{
	color:#F00;
}

#admin DIV.error_message{
	border: #D00 1px solid;
	padding: 5px;
	color:#D00;
	font-weight: bold;
	max-width: 50%;
}

#admin DIV.message{
	border: #0A0 1px solid;
	padding: 5px;
	color: #0A0;
	font-weight: bold;
	max-width: 50%;
}

#admin .admin-user {
    height: 20px;
    width: 100%;
    clear: both;
    display: block;
    margin:5px;
}

#admin .admin-user-in{
    padding:5px;
}




#admin .float-left{
    float:left;
}
#admin .float-right{
    float:right;
}